/* Mixin de display:flex, flex direction:row y justify-content:flex-end */

@mixin flex-row-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* Mixin de display:flex, flex direction:row y justify-content: start*/

@mixin flex-row-start {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

/* Mixin para links sin decoracion y color beige*/

@mixin text-decoration-color-for-links {
	text-decoration: none;
	color: beige;
}