
/* Variable del color de fondo del header, nav y footter*/
$color-header-nav-footer: rgb(4, 4, 163);

/* Color del header de las cards*/
$color-card-header: #100887;

/* Width de la imagen del logo*/
$width-logo:100px;
